<%- include('../partials/adminSideNav.ejs') %>
  
  
  
<div class="container" id="addproduct-container">
  <div class="row px-5 pt-2">
    <form
      action="/admin/products/add-product"
      method="post"
      class="row g-3"
      enctype="multipart/form-data"
    >

      <label class="fs-4 mb-3 h2">Product Details</label>

      <div class="col-md-6">
        <input
          type="text"
          name="productname"
          placeholder="PRODUCT NAME"
          class="form-control product-name"
        />
      </div>
      <div class="col-md-6">
        <input
          type="number"
          name="originalprice"
          placeholder="ORIGINAL PRICE"
          class="form-control price"
        />
      </div>
      <div class="col-md-6">
        <input
          type="number"
          name="discount"
          placeholder="Discount (%)"
          class="form-control price"
        />
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Category</label>
            <select class="form-select" name="category" id="inputGroupSelect01">
              <% category.forEach(item => { %>
                <option selected value="<%= item.categoryName %>"><%= item.categoryName %></option>
              <% }) %>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <input
          type="number"
          name="quantity"
          placeholder="QTY"
          class="form-control quantity"
        />
      </div>
      <label class="fs-4 mb-3 mt-5 h2">Product Features</label>
      <div class="col-md-4">
        <input
          type="text"
          name="primarymaterial"
          placeholder="PRIMARY MATERIAL"
          class="form-control"
          list="primary-material"
        />
      </div>
      <datalist id="primary-material">
        <option value="European Ash Wood (kiln dried)"></option>
        <option value="Oak Wood (kiln dried)"></option>
        <option value="Teak Wood"></option>
        <option value="Walnut Wood"></option>
        <option value="Mahogany"></option>
        <option value="Maple Wood"></option>
        <option value="Birch Wood"></option>
      </datalist>
      <div class="col-md-4">
        <input
          type="text"
          name="floorstanding"
          placeholder="Floor Standing"
          class="form-control"
          list="floor-standing"
        />
      </div>
      <div class="col-md-4">
        <input
          type="text"
          name="polishmaterial"
          placeholder="Polish Material"
          class="form-control"
          list="polish-materials"
        />
      </div>
      <datalist id="polish-materials">
        <option value="Sayerlack"></option>
        <option value="Dulux"></option>
        <option value="Sadolin"></option>
        <option value="Bondex"></option>
        <option value="Caparol"></option>
        <option value="Jotun"></option>
        <option value="Benjamin Moore"></option>
        <option value="Sherwin-Williams"></option>
        <option value="Valspar"></option>
        <option value="AkzoNobel"></option>
        <option value="Boero "></option>
        <option value="Farrow & Ball"></option>
        <option value="Teknos"></option>
        <option value="Tikkurila"></option>
        <option value="Zinsser"></option>
      </datalist>
      <datalist id="floor-standing">
        <option value="Yes"></option>
        <option value="No"></option>
      </datalist>
      <label class="fs-5">Select colors</label>
      <div class="col-md-3">
        <input
          type="text"
          name="color"
          placeholder="COLOR 1"
          class="form-control"
          list="color-options"
        />
      </div>
      <div class="col-md-3">
        <input
          type="text"
          name="color"
          placeholder="COLOR 2"
          class="form-control"
          list="color-options"
        />
      </div>
      <div class="col-md-3">
        <input
          type="text"
          name="color"
          placeholder="COLOR 3"
          class="form-control"
          list="color-options"
        />
      </div>
      <datalist id="color-options">
        <option value="Red"></option>
        <option value="Blue"></option>
        <option value="Green"></option>
        <option value="Yellow"></option>
        <option value="Black"></option>
        <option value="White"></option>
        <option value="Gray"></option>
        <option value="Brown"></option>
        <option value="Pink"></option>
        <option value="Purple"></option>
        <option value="Orange"></option>
        <option value="Beige"></option>
      </datalist>
      <label class="fs-4 mb-3 mt-5 h2">Specifications</label>
      <div class="col-md-4">
        <input
          type="text"
          name="material"
          placeholder="MATERIAL"
          class="form-control material"
        />
      </div>
      <div class="col-md-4">
        <input
          type="text"
          name="warranty"
          placeholder="WARRANTY"
          class="form-control warranty"
          list="warranty-options"
        />
      </div>
      <datalist id="warranty-options">
        <option value="Yes"></option>
        <option value="No"></option>
      </datalist>
      <div class="col-md-4">
        <input
          type="text"
          placeholder="Country of Origin"
          class="form-control CountryofOrigin"
          name="countryofOrigin"
          list="country-options"
        />
      </div>
      <datalist id="country-options">
        <option value="United States"></option>
        <option value="Canada"></option>
        <option value="United Kingdom"></option>
        <option value="Australia"></option>
        <option value="Germany"></option>
        <option value="France"></option>
        <option value="India"></option>
        <option value="China"></option>
        <option value="Japan"></option>
        <option value="South Korea"></option>
        <option value="Brazil"></option>
        <option value="Mexico"></option>
        <option value="Italy"></option>
        <option value="Spain"></option>
        <option value="Russia"></option>
        <option value="South Africa"></option>
        <option value="Saudi Arabia"></option>
        <option value="Argentina"></option>
        <option value="Indonesia"></option>
        <option value="Turkey"></option>
      </datalist>
      <div class="col-md-4">
        <input
          type="number"
          name="weight"
          placeholder="WEIGHT"
          class="form-control weight"
        />
      </div>
      <div class="col-md-4">
        <input
          type="text"
          name="fabric_options"
          placeholder="FABRIC OPTIONS"
          class="form-control fabric_options"
          list="fabric-options"
        />
      </div>
      <datalist id="fabric-options">
        <option value="Cotton"></option>
        <option value="Linen"></option>
        <option value="Wool"></option>
        <option value="Silk"></option>
        <option value="Velvet"></option>
        <option value="Polyester"></option>
        <option value="Acrylic"></option>
        <option value="Nylon"></option>
        <option value="Chenille"></option>
        <option value="Leather"></option>
        <option value="Microfiber"></option>
        <option value="Suede"></option>
        <option value="Viscose"></option>
        <option value="Rayon"></option>
        <option value="Bamboo"></option>
        <option value="Jute"></option>
        <option value="Hemp"></option>
        <option value="Acetate"></option>
        <option value="Modal"></option>
        <option value="Spandex"></option>
        <option value="Cashmere"></option>
        <option value="Faux Fur"></option>
        <option value="Faux Leather"></option>
      </datalist>
      <div class="col-md-4">
        <input
          type="text"
          name="brand"
          placeholder="BRAND"
          class="form-control brand"
          list="brand-options"
        />
      </div>
      <datalist id="brand-options">
        <option value="Herman Miller"></option>
        <option value="Knoll"></option>
        <option value="Vitra"></option>
        <option value="Minotti"></option>
        <option value="B&B Italia"></option>
        <option value="Fritz Hansen"></option>
        <option value="Poltrona Frau"></option>
        <option value="Cassina"></option>
        <option value="Roche Bobois"></option>
        <option value="Muuto"></option>
        <option value="Hay"></option>
        <option value="Gubi"></option>
        <option value="Molteni & C"></option>
        <option value="Boffi"></option>
        <option value="Arper"></option>
        <option value="Magis"></option>
        <option value="Kartell"></option>
        <option value="Alessi"></option>
        <option value="Pedrali"></option>
        <option value="Flexform"></option>
        <option value="Ligne Roset (France)"></option>
        <option value="Porro"></option>
        <option value="Cappellini"></option>
        <option value="Gloster"></option>
        <option value="Dedon"></option>
        <option value="Emeco"></option>
        <option value="HAY"></option>
        <option value="Ferm Living"></option>
        <option value="Normann Copenhagen"></option>
        <option value="Gandia Blasco"></option>
        <option value="Saba Italia"></option>
        <option value="Desalto"></option>
        <option value="Moroso"></option>
        <option value="Cattelan Italia"></option>
        <option value="Tonon"></option>
        <option value="Baxter"></option>
        <option value="Bonaldo"></option>
        <option value="Ceccotti Collezioni"></option>
        <option value="Glas Italia"></option>
        <option value="Kettal"></option>
        <option value="Foscarini"></option>
        <option value="Louis Poulsen"></option>
        <option value="Tom Dixon"></option>
        <option value="Anglepoise"></option>
        <option value="DCW Éditions"></option>
        <option value="Santa & Cole"></option>
        <option value="Artemide"></option>
        <option value="Flos"></option>
        <option value="Ingo Maurer"></option>
        <option value="Nemo Lighting"></option>
        <option value="Vibia"></option>
      </datalist>
      <div class="col-md-6">
        <input
          type="text"
          name="dimension"
          placeholder="Dimensions"
          class="form-control dimensions"
          list="dimension-options"
        />
      </div>
      <datalist id="dimension-options">
          <option value="134L x 75W x 77H"></option>
          <option value="120L x 60W x 80H"></option>
          <option value="150L x 90W x 75H"></option>
          <option value="180L x 90W x 75H"></option>
          <option value="200L x 100W x 76H"></option>
          <option value="210L x 100W x 80H"></option>
          <option value="220L x 110W x 75H"></option>
          <option value="240L x 120W x 78H"></option>
          <option value="250L x 120W x 80H"></option>
          <option value="260L x 130W x 82H"></option>
          <option value="280L x 140W x 85H"></option>
          <option value="300L x 150W x 90H"></option>
          <option value="320L x 160W x 95H"></option>
          <option value="340L x 170W x 100H"></option>
        </datalist>
      
        <label class="fs-4 mb-3 mt-5 h2">Product Images</label>
        <div class="col-md-6">
          <input
            class="form-control formFileMultiple"
            type="file"
            name="files"
            multiple
          />
        </div>
        <div class="col-md-6">
          <input
            class="form-control formFileMultiple"
            type="file"
            name="files"
            multiple
          />
          <input
            class="form-control formFileMultiple"
            type="file"
            name="files"
            multiple
          />
        </div>

      <label class="fs-4 mb-3 mt-5 h2">Product Description</label>
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
          style="height: 100px"
          name="description"
        ></textarea>
        <label for="floatingTextarea2">Description</label>
      </div>
     
      
      <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea2"
            style="height: 100px"
            name="description"
          ></textarea>
          <label for="floatingTextarea2">Description</label>
        </div>
        
         <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
          style="height: 100px"
          name="description"
        ></textarea>
        <label for="floatingTextarea2">Description</label>
      </div>
      <div class="col-md-4 mt-5">
        <input
          type="submit"
          value="Add Product"
          class="btn btn-primary form-control"
        />
      </div>
    </form>
  </div>
</div>



<script>
document.addEventListener("DOMContentLoaded", function () {
  const hamBurger = document.querySelector(".toggle-btn");
  hamBurger.addEventListener("click", function () {
    document.querySelector("#sidebar").classList.toggle("expand");
  });


});

</script>