<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

    ::after,
    ::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    h1 {
        font-weight: 600;
        font-size: 1.5rem;
    }

    body {
        font-family: 'Poppins', sans-serif;
    }

    .wrapper {
        display: flex;
    }

    .main {
        min-height: 100vh;
        width: 100%;
        overflow: hidden;
        transition: all 0.35s ease-in-out;
        background-color: #fafbfe;
    }

    #sidebar {
        width: 70px;
        min-width: 70px;
        z-index: 1000;
        transition: all .25s ease-in-out;
        background-color: #0e2238;
        display: flex;
        flex-direction: column;
    }

    #sidebar.expand {
        width: 260px;
        min-width: 260px;
    }

    .toggle-btn {
        background-color: transparent;
        cursor: pointer;
        border: 0;
        padding: 1rem 1.5rem;
    }

    .toggle-btn i {
        font-size: 1.5rem;
        color: #FFF;
    }

    .sidebar-logo {
        margin: auto 0;
    }

    .sidebar-logo a {
        color: #FFF;
        font-size: 1.15rem;
        font-weight: 600;
    }

    #sidebar:not(.expand) .sidebar-logo,
    #sidebar:not(.expand) a.sidebar-link span {
        display: none;
    }

    .sidebar-nav {
        padding: 2rem 0;
        flex: 1 1 auto;
    }

    a.sidebar-link {
        padding: .625rem 1.625rem;
        color: #FFF;
        display: block;
        font-size: 0.9rem;
        white-space: nowrap;
        border-left: 3px solid transparent;
    }

    .sidebar-link i {
        font-size: 1.1rem;
        margin-right: .75rem;
    }

    a.sidebar-link:hover {
        background-color: rgba(255, 255, 255, .075);
        border-left: 3px solid #3b7ddd;
    }

    .sidebar-item {
        position: relative;
    }

    #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
        position: absolute;
        top: 0;
        left: 70px;
        background-color: #0e2238;
        padding: 0;
        min-width: 15rem;
        display: none;
    }

    #sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
        display: block;
        max-height: 15em;
        width: 100%;
        opacity: 1;
    }

    #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
        border: solid;
        border-width: 0 .075rem .075rem 0;
        content: "";
        display: inline-block;
        padding: 2px;
        position: absolute;
        right: 1.5rem;
        top: 1.4rem;
        transform: rotate(-135deg);
        transition: all .2s ease-out;
    }

    #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
        transform: rotate(45deg);
        transition: all .2s ease-out;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: none;
        outline: none;
    }

    .form-group {
        position: relative;
        margin-bottom: 1.5rem;
    }

    .form-group label {
        position: absolute;
        top: -4px;
        left: 20px;
        padding: 0.75rem 0;
        pointer-events: none;
        transition: all 0.2s ease-out;
        font-size: 1rem;
        color: #aaa;
    }

    .form-group input:focus+label,
    .form-group input:not(:placeholder-shown)+label {
        top: -2rem;
        left: 0;
        color: #000;
        font-size: 0.85rem;
        padding-left: 5px;
    }

    .form-group input {
        padding: 0.75rem 0.75rem 0.25rem;
    }

    .form-group input:focus+label,
    .form-group input:not(:placeholder-shown)+label {
        top: -2rem;
    }

    .text-danger {
        color: red;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
    }
</style>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">Admin</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>DASHBOARD</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/admin/user_panel" class="sidebar-link">
                        <i class="lni lni-agenda"></i>
                        <span>USERS</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="lni lni-protection"></i>
                        <span>INVENTORY</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/admin/products" class="sidebar-link">Products</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/admin/category" class="sidebar-link">Category</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="lni lni-protection"></i>
                        <span>COUPONS&OFFERS</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/admin/coupons" class="sidebar-link">Coupons</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/admin/offers" class="sidebar-link">Offers</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-popup"></i>
                        <span>STOCK</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/admin/orders" class="sidebar-link">
                        <i class="lni lni-cog"></i>
                        <span>ORDERS</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="lni lni-protection"></i>
                        <span>SALES</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Sales-Report</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Inventory-Report</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Purchase-Report</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="#" class="sidebar-link" id="logout-btn">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main p-3">
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <button class="btn btn-danger">Download PDF</button>
                </div>

                <div class="row">
                    <!-- Summary Cards -->
                    <div class="col-md-2">
                        <div class="card summary-card">
                            <div class="card-body">
                                <h5>No of Orders</h5>
                                <p class="card-text">10</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card summary-card">
                            <div class="card-body">
                                <h5>No of Customers</h5>
                                <p class="card-text">4</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card summary-card">
                            <div class="card-body">
                                <h5>Online Payment</h5>
                                <p class="card-text">4</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card summary-card">
                            <div class="card-body">
                                <h5>Cash on Delivery</h5>
                                <p class="card-text">2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card summary-card">
                            <div class="card-body">
                                <h5>Refunds & Returns</h5>
                                <p class="card-text">5000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card summary-card">
                            <div class="card-body">
                                <h5>Total Transactions</h5>
                                <p class="card-text">50000</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Order ID</th>
                                <th>Customer Name</th>
                                <th>Original Price</th>
                                <th>Sold Price</th>
                                <th>Offer</th>
                                <th>Discount</th>
                                <th>Coupon Applied</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01/10/1999</td>
                                <td>565656</td>
                                <td>nandhu</td>
                                <td>50000</td>
                                <td>40000</td>
                                <td>30</td>
                                <td>15000</td>
                                <td>Newhabus</td>
                                <td>Delivered</td>
                                <td>details</td>
                            </tr>
                            <tr>
                                <td>01/10/1999</td>
                                <td>565656</td>
                                <td>nandhu</td>
                                <td>50000</td>
                                <td>40000</td>
                                <td>30</td>
                                <td>15000</td>
                                <td>Newhabus</td>
                                <td>Delivered</td>
                                <td>details</td>
                            </tr>
                            <tr>
                                <td>01/10/1999</td>
                                <td>565656</td>
                                <td>nandhu</td>
                                <td>50000</td>
                                <td>40000</td>
                                <td>30</td>
                                <td>15000</td>
                                <td>Newhabus</td>
                                <td>Delivered</td>
                                <td>details</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <script>

        const hamBurger = document.querySelector(".toggle-btn");

        hamBurger.addEventListener("click", function () {
            document.querySelector("#sidebar").classList.toggle("expand");
        });
    </script>