<section>
<style>
        .navbar-nav .nav-item {
            margin-right: 15px; /* Adjust the value as needed */
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Habur Furniture</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/products">Shop</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/logout">logout</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <i class="nav-item fa-solid fa-magnifying-glass" style="margin-top: 13px"></i>
                <i class="nav-item fa-solid fa-regular fa-heart" style="margin-top: 13px"></i>
                <i class="nav-item fa-solid fa-cart-shopping" style="margin-top: 13px"></i>
            </ul>
        </div>
    </nav>
</section>