html, body {
    height: 100%;
    margin: 0;
    font-family: "Montserrat",'Roboto', sans-serif;
}

.lamp-image {
    background-image: url('/image/Screenshot\ 2024-06-25\ 010221.png'); /* Update the path to your actual image path */
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: calc(50% - 50vw); /* Adjust the value based on the width of the image */
}
.lamp-image .text-center {
    position: absolute;
    bottom: 20px;
}

form {
    max-width: 400px;
}
