<div class="main p-3">
    <div class="container" id="addproduct-container">
      <div class="row px-5 pt-2">
        <div id="formErrors" class="text-danger" style="display: none;"></div>
        <form id="addProductForm"
        action="/admin/products/add-product"
          method="post"
          class="row g-3"
          enctype="multipart/form-data"
        >
    
          <label class="fs-4 mb-3 h2">Product Details</label>
     
          <div class="col-md-6">
            <input
              type="text"
              name="productname"
              placeholder="PRODUCT NAME"
              class="form-control product-name"
            />

          </div>
          <div class="col-md-6">
            <input
              type="number"
              name="originalprice"
              placeholder="ORIGINAL PRICE"
              class="form-control price"
            />

          </div>
          <div class="col-md-6">
            <input
              type="number"
              name="discount"
              placeholder="Discount (%)"
              class="form-control price"

            />

          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Category</label>
                <select class="form-select" name="category" id="inputGroupSelect01">
                  <% category.forEach(item => { %>
                    <option selected value="<%= item.categoryName %>"><%= item.categoryName %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <input
              type="number"
              name="quantity"
              placeholder="QTY"
              class="form-control quantity"
            />

          </div>
          <label class="fs-4 mb-3 mt-5 h2">Product Features</label>
          <div class="col-md-4">
            <input
              type="text"
              name="primarymaterial"
              placeholder="PRIMARY MATERIAL"
              class="form-control"
              list="primary-material"
            />

          </div>

          <div class="col-md-4">
            <input
              type="text"
              name="floorstanding"
              placeholder="Floor Standing"
              class="form-control"
              list="floor-standing"
            />

          </div>
          <div class="col-md-4">
            <input
              type="text"
              name="polishmaterial"
              placeholder="Polish Material"
              class="form-control"
              list="polish-materials"
            />
          </div>


          <label class="fs-4 mb-3 mt-5 h2">Specifications</label>
          <div class="col-md-4">
            <input
              type="text"
              name="material"
              placeholder="MATERIAL"
              class="form-control material"
            />

          </div>

          <div class="col-md-4">
            <input
              type="text"
              name="warranty"
              placeholder="WARRANTY"
              class="form-control warranty"
              list="warranty-options"
            />

          </div>
          <datalist id="warranty-options">
            <option value="Yes"></option>
            <option value="No"></option>
          </datalist>
          <div class="col-md-4">
            <input
              type="text"
              placeholder="Country of Origin"
              class="form-control CountryofOrigin"
              name="countryofOrigin"
              list="country-options"
            />

          </div>


          <div class="col-md-4">
            <input
              type="number"
              name="weight"
              placeholder="WEIGHT"
              class="form-control weight"
            />
            <div id="weightError" class="text-danger"></div>
          </div>
          <div class="col-md-4">
            <input
              type="text"
              name="fabric_options"
              placeholder="FABRIC OPTIONS"
              class="form-control fabric_options"
              list="fabric-options"
            />
          </div>

          <div class="col-md-4">
            <input
              type="text"
              name="brand"
              placeholder="BRAND"
              class="form-control brand"
              list="brand-options"
            />

          </div>
        
          <div class="col-md-6">
            <input
              type="text"
              name="dimension"
              placeholder="Dimensions"
              class="form-control dimensions"
              list="dimension-options"
            />

          </div>

            <label class="fs-4 mb-3 mt-5 h2">Product Images</label>
            <div class="col-md-6">
              <input
                class="form-control formFileMultiple"
                type="file"
                name="files"
                multiple
              />
              <div  id="filesError" class="text-danger"></div>
            </div>
            <div class="col-md-6">
              <input
                class="form-control formFileMultiple"
                type="file"
                name="files"
                multiple
              />
              <div  id="filesError" class="text-danger"></div>
            </div>
            <div class="col-md-6">
              <input
                class="form-control formFileMultiple"
                type="file"
                name="files"
                multiple
              />
              <div  id="filesError" class="text-danger"></div>
            </div>

        

          <label class="fs-4 mb-3 mt-5 h2">Product Description</label>
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea2"
              style="height: 100px"
              name="description"
            ></textarea>
            
            <label for="floatingTextarea2">Description</label>

          </div>
         
          
          <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
                name="description"
              ></textarea>
              <label for="floatingTextarea2">Description</label>

            </div>
            
             <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea2"
              style="height: 100px"
              name="description"
            ></textarea>
            <label for="floatingTextarea2">Description</label>

          </div>
          <div class="col-md-4 mt-5">
            <input
              type="submit"
              value="Add Product"
              class="btn btn-primary form-control"
            />
          </div>
        </form>
      </div>
    </div>
</div>
