<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mazen Furniture</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/calibri-light" rel="stylesheet">
    <link rel="stylesheet" href="/style/sidenavbar.css">
    <% if (typeof productDetails !== 'undefined' && productDetails) { %>
         <link rel="stylesheet" href="/style/user/product_details.css">
    <% } %>
  </head>
  <style>
    
    body {
  font-family: 'Calibri', 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.login-form {
  font-family: 'Calibri', 'Arial', sans-serif;
}

h3 {
  font-family: 'Calibri', 'Arial', sans-serif;
}

  </style>
  <body>
    <%- include('partials/alertMessage.ejs') %>
    <% if (typeof user !== 'undefined' && user) { %>
      <%- include('partials/user_header.ejs',{ searchTerm: searchTerm }) %>
    <% } %>
    <%- body %>
    <% if (typeof user !== 'undefined' && user) { %>
      <%- include('partials/user_footer.ejs') %>
    <% } %>

    <!-- CDN for cropping image -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js"></script>
    <!-- Bootstrap JS and Popper.js scripts (for dropdowns, modals, etc.) -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <!-- script for sending ajax request -->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
  
<!-- SweetAlert2 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


    <!-- chart implementation -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- DataTable initialization -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
      <!-- <script src="/script/adminUtilities.js"></script> -->
      <script src="/script/adminActions.js"></script>
      <script src="/script/adminUtilities.js"></script>
      <% if (typeof userSignUp !== 'undefined' && userSignUp) { %>
        <script src="/script/user/usersignup.js"></script>
    <% } else if (typeof userLogin !== 'undefined' && userLogin) { %>
        <script src="/script/user/userlogin.js"></script>
    <% } else if(typeof userOtpSubmit !== 'undefined' && userOtpSubmit){ %>
         <script src="/script/user/otp_submit.js"></script>
    <% } else if(typeof userProducts !== 'undefined' && userProducts){ %> 
        <script src="/script/user/userProducts.js"></script>
    <% }else if (typeof productDetails !== 'undefined' && productDetails){ %>
        <script src="/script/user/productDetails.js"></script>
    <% }  %>

    
  </body>
</html>

 