body {
    background: url('path-to-your-background-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

.form-card {
    max-width: 350px;  /* Reduce the max-width further */
    padding: 15px;     /* Adjust padding to make it more compact */
    margin: 20px 0;    /* Slightly reduce the margin */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: none;
    border-radius: 10px;
}

.card-title {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.row{
    border: none;
}