<style>
    .btn-primary,
    .btn-secondary {
        width: 50%;
    }

    .text-danger {
        color: red;
        font-weight: bold;
    }

    .form-section {
        padding-left: 50px;
        padding-top: 40px;
    }

    h4 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <%- include("../partials/userSidenav.ejs") %>
            <!-- Form Section -->
            <div class="col-lg-8 form-section">
                <div class="form-section">
                    <h4>Shipping Address</h4> <br>
                    <div id="formErrors" class="alert alert-danger" style="display:none;"></div>
                    <form id="addressForm" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName">
                                <div class="text-danger" id="firstNameError"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName">
                                <div class="text-danger" id="lastNameError"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="mobileNo">Mobile No</label>
                                <input type="tel" class="form-control" id="phone" name="phone">
                                <div class="text-danger" id="phoneError"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="zipcode">Pincode/Zipcode</label>
                                <input type="text" class="form-control" id="pincode" name="pincode">
                                <div class="text-danger" id="pincodeError"></div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address">
                            <div class="text-danger" id="addressError"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="street">Street / Locality</label>
                                <input type="text" class="form-control" id="street" name="street">
                                <div class="text-danger" id="streetError"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="landmark">Landmark (Optional)</label>
                                <input type="text" class="form-control" id="landmark" name="landmark">
                                <div class="text-danger" id="landmarkError"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" name="city">
                                <div class="text-danger" id="cityError"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="country">Country</label>
                                <select id="country" class="form-control" name="country">
                                    <option selected>Select Country</option>
                                    <option>India</option>
                                    <option>USA</option>
                                    <option>UK</option>
                                    <option>Canada</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="state">Enter State</label>
                                <input type="text" class="form-control" id="state" name="state">
                                <div class="text-danger" id="stateError"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="defaultAddress">
                                <label class="form-check-label" for="defaultAddress">
                                    Set as default shipping address
                                </label>
                            </div>
                        </div>
                        <span><button type="submit" class="btn btn-dark">Add Address</button></span>

                    </form>
                </div>
            </div>

    </div>
</div>
    
    <script>
        document.getElementById('addressForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            const formData = new FormData(this);
            const formObject = Object.fromEntries(formData.entries());

            try {
                const response = await fetch("/user/add_address", {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(formObject)
                });

                const data = await response.json();

                document.querySelectorAll('.text-danger').forEach(el => el.innerHTML = '');
                document.getElementById('formErrors').style.display = 'none';

                if (response.ok) {

                    window.location.href = "/user/my-address"
                } else {

                    if (data.errors) {
                        for (const key in data.errors) {
                            document.getElementById(`${key}Error`).innerHTML = data.errors[key].msg;
                        }
                    }

                    if (data.customError) {
                        document.getElementById('formErrors').style.display = 'block';
                        document.getElementById('formErrors').innerHTML = data.customError;
                    }
                    setTimeout(() => {
                        document.querySelectorAll('.text-danger').forEach(el => el.innerHTML = '');
                        document.getElementById('formErrors').style.display = 'none';
                    }, 3000);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });

    </script>

