
  <div class="split-screen">
    <div class="left">
      <!-- Image or other content -->
    </div>
    <div class="right">
      <div class="form-container text-center mx-auto">
        <h3>Login</h3>
        <form id="loginForm" action="/users/login" method="post">
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
            <div class="email-error text-danger"></div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <div class="password-error text-danger"></div>
          </div>
          <button type="submit" class="btn btn-dark btn-block">Login</button>
        </form>
        <p class="mt-3">Don't have an account? <a href="/users/signup">SignUp</a></p>
      </div>
    </div>
  </div>
  <script>
    const form = document.getElementById('loginForm');
    const emailErr = document.querySelector('.email-error');
    const passwordErr = document.querySelector('.password-error');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      emailErr.textContent = '';
      passwordErr.textContent = '';

      const email = form.email.value;
      const password = form.password.value;

      try {
        const res = await fetch("/users/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email,
            password,
          }),
        });

        const data = await res.json();

        if (data.errors) {
          emailErr.textContent = data.errors.email || '';
          passwordErr.textContent = data.errors.password || '';
        } if(data.user) {
          location.assign("/users/home");
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>
 
